<div class="face-snap-card" [ngClass]="{snapped: buttonText === 'Oops, unSnap!'}">
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le EEEE d MMMM yyyy'}}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, '+ faceSnap.snaps * 30 +', 0)'}">💖 {{ faceSnap.snaps }}</span>
  </p>
  <!--decimal pipe-->
  <p>{{589.672 | number: '1.0-1' }}</p>

  <!--percent pipe-->
  <p>{{0.3367 | percent }}</p>
  <p>{{0.3367 | percent: '1.0-2' }}</p>
  <p>{{0.33 | percent: '1.2-2' }}</p>

  <!--currency pipe-->
  <p>{{344.36 | currency: 'EUR'}}</p>
  <p>{{344.36 | currency: 'EUR': 'code'}}</p>
</div>