.landing-block {
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;
}

.landing-links {
  width: 100%;
  text-align: center;
}

img {
  max-width: 40%;
  margin-inline: auto;
}

button {
  font-size: 1.25rem;
}